@import "../../../styles/colors";

.chart {
    margin: 15px;
    background-color: $color-background-white;
    
    .chart-container {
        margin: 10px;
    }

    .chart-title {
        padding: 20px 0 0 20px;
        font-size: 18px;
        font-weight: bolder;
        text-align: left;
    }

    .apexcharts-legend {
        justify-content: right !important;
        margin-right: 200px;
    }

    .apexcharts-yaxis-annotations > line {
        stroke-width: 2
    }
}
